/.idea
/axiomatik/__pycache__
/axiomatik.egg-info
/dist
/axiomatik/future/__pycache__
/cpp/axiomatik/.vs
/cpp/axiomatik/axiomatik/x64
/cpp/axiomatik/x64
/cpp/axiomatik_c/axiomatik_c/x64
/cpp/box2d-3.1.1
/cpp/box2d-3.1.1_axiomatikcheck
/cpp/axiomatik_c/.vs
/cpp/axiomatik_c/x64
